<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VI_mark.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <VI_mark.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>1748</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>1181</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
        </VI_mark.Properties.Settings>
    </applicationSettings>
</configuration>